body {
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.contact-header {
  background-color: #d1d1d1;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0px;
}

.conact-title-header {
  margin: 0px;
  text-align: center;
  font-size: 2rem;
}

.nich-image {
  width: 30%;
  height: 30%;
}

.footer-quote {
  background-color: #acacac;
  padding-bottom: 2vh;
  padding-bottom: 2vh;
  margin: 0px;
}

.quote {
  text-align: center;
  margin: 0px;
}
